* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: #fcff8a;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: transparent;
    font-size: 10em;
}

h1::after,
h1::before {
    content: attr(data-name);
    color: #262626;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: 0.5s;
}

h1::before {
    -webkit-clip-path: polygon(55% 0, 0 0, 0 100%, 35% 100%);
    clip-path: polygon(55% 0, 0 0, 0 100%, 35% 100%);
}

h1::after {
    -webkit-clip-path: polygon(55% 0, 100% 0, 100% 100%, 35% 100%);
    clip-path: polygon(55% 0, 100% 0, 100% 100%, 35% 100%);
}

h1:hover::before {
    top: -6px;
    left: -6px;
    transform: rotate(-5deg);
}

h1:hover::after {
    top: 6px;
    left: 6px;
    transform: rotate(5deg);
}
